#TabsToolbar {
  visibility: collapse;
}

#sidebar-header {
  visibility: collapse !important;
}

.browserContainer>findbar {
  -moz-box-ordinal-group: 0;
}

html {
  color: white;
  background-color: black;
}

toolbarbutton#shortcutkey2url_enjoyxstudy_com-browser-action {
  width: 0px !important;
  height: 0px !important;
  pointer-events: none !important;
}

toolbarbutton#shortcutkey2url_enjoyxstudy_com-browser-action .toolbarbutton-text,
toolbarbutton#shortcutkey2url_enjoyxstudy_com-browser-action .toolbarbutton-badge-stack {
  padding: 0 !important;
}

toolbarbutton#shortcutkey2url_enjoyxstudy_com-browser-action .toolbarbutton-icon {
  display: none !important;
}
